@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700|Grand+Hotel');


html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito';
}

*.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
	  Introduced in Internet Explorer 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}